*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#app{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );
}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.little-contain{
    width: 100%;
    height: 90%;
    display: flex;
}

.contain-thumb{
    height: 100%;
    width: 30%;
    background-color: rgb(234, 234, 234);
    border-right: 1px solid rgb(187, 187, 187);
}

.contain-chat{
    height: 100%;
    width: 70%;
    background-color: rgb(234, 234, 234);
}

.user-profile{
    height: 8%;
    display: flex;
    justify-content: space-between;
}

.image-user{
    display: flex;
    margin: 0;
}

.text-profile{
    margin-top: 22px;
    margin-left: 5px;
}

.img-first{
    width: 75%;
    height: 100%;
    border-radius: 50px;
}

.button-user{
    display: flex;
    margin: 0;
}

.grey{
    color: rgb(177, 177, 177);
}

.alert-thumb{
    background-color: rgb(142, 218, 252);
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bell{
    padding: 16px;
    background-color: white;
    border-radius: 50px;
    color: rgb(142, 218, 252);
    height: 53px;
    margin-top: 20px;
}

.search-bar{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 8%;
}

.center-button{
    padding: 5% 18%;
}

.contain-friends{
    background-color:white;
}

.contact{
    display: flex;
}

.contact-info{
    width: 100%;
}

.contact-name{
    display: flex;
    justify-content: space-between;
}

.image-friends{
    height: 40px;
    width: 50px;
    border-radius: 50px;
}

.text-friends{
    font-size: 10px;
}

.marg-0{
    margin: 0;
}

.chat-user{
    display: flex;
    justify-content: space-between;
}

.active-chat{
    height: 8%;
    margin: 10px;
}

.button-chat{
    margin: 10px;
}

.chat-main{
    height: 80%;
    background-image: url("./img/mine.jpg");
    width: 100%;
}

.chat-write{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.message{
    height: 75%;
    width: 75%;
}

.mt-2{
    margin-top: 15px;
}